table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #ccc;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
    text-transform: uppercase;
  }